@font-face {
    src: url('../fonts/CFCrayons-Regular.ttf');
    font-family: 'CFCrayons-Regular';
}

@font-face {
    src: url('../fonts/IndieFlower-Regular.ttf');
    font-family: 'IndieFlower-Regular';
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

/* font-family: 'Roboto Mono', monospace; */

/* ================================================== 
            GENERAL STYLES
===================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/black-g2405766ec_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

#gitBefehle {
    visibility: visible;
}

section {
    position: relative;
}

section article {
    background-repeat: no-repeat;
    background-size: cover;
    width: 470px;
    height: 470px;
    position: absolute;
}

h1 {
    font-family: 'CFCrayons-Regular';
    text-align: center;
    color: white;
    font-size: 8rem;
    padding-top: 10vh;
}

h2 {
    font-family: 'CFCrayons-Regular';
    color: rgb(253, 249, 196);
    font-size: 6rem;
    padding: 10vh 0 5vh 10vw;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.6rem;
    margin: 126px 110px 0 110px;
    background-color: black;
    border-radius: 2px;
    display: inline-block;
    text-align: left;
}

p {
    font-family: 'IndieFlower-Regular';
    color: rgb(0, 9, 138);
    font-size: 2rem;
    display: inline-block;
    text-align: left;
    padding: 0 72px;
}

aside a {
    position: fixed;
    right: 5vw;
    top: 9vh;
    font-size: 10rem;
    color: white;
}

aside a:hover {
    color: rgb(255, 202, 202);
}

/* ================================================== 
            REST STYLES
===================================================== */

h1 span {
    color: rgb(255, 202, 202);
}

div:nth-of-type(1) article:nth-of-type(1) div:nth-of-type(2) article:nth-of-type(1) {
    top: 225px;
    left: 43.2px;
}

div:nth-of-type(1) section article:nth-of-type(2),
div:nth-of-type(2) section article:nth-of-type(2) {
    top: 180px;
    left: 330px;
}

div:nth-of-type(1) section article:nth-of-type(3),
div:nth-of-type(2) section article:nth-of-type(3) {
    top: 270px;
    left: 576px;
}

div:nth-of-type(1) section article:nth-of-type(4),
div:nth-of-type(2) section article:nth-of-type(4) {
    top: 180px;
    left: 870px;
}

/* SECTION 1 */

div:nth-of-type(1) section:nth-of-type(1) article {
    background-image: url('../img/post-it-blau.png');
}

div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(1) p {
    padding: 45px 150px 300px 129.6px;
}

div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(2) p span {
    color: red;
    font-size: 3rem;
}

div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(1) {
    padding: 45px 144px 0 115.2px;
}

div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(2) {
    padding: 18px 150px 20px 115.2px;
}

div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(3) p {
    padding: 45px 120px 25vh 115.2px;
}

div:nth-of-type(1) section:nth-of-type(1) article:nth-of-type(4) p {
    padding: 45px 72px 270px 115.2px;
}

/* SECTION 2 */

div:nth-of-type(1) section:nth-of-type(2) {
    top: 70vh;
}

div:nth-of-type(1) section:nth-of-type(2) article {
    background-image: url('../img/post-it-aqua.png');
}

div:nth-of-type(1) section:nth-of-type(2) article:nth-of-type(1) p {
    padding: 45px 150px 270px 129.6px;
}

div:nth-of-type(1) section:nth-of-type(2) article:nth-of-type(2) p {
    padding: 45px 72px 225px 115.2px;
}

/* SECTION 3 */

div:nth-of-type(1) section:nth-of-type(3) {
    top: 140vh;
}

div:nth-of-type(1) section:nth-of-type(3) article {
    background-image: url('../img/post-it-yellow.png');
}

div:nth-of-type(1) section:nth-of-type(3) article:nth-of-type(1) p {
    padding: 45px 72px 300px 115px;
}

div:nth-of-type(1) section:nth-of-type(3) article:nth-of-type(2) p {
    padding: 45px 150px 225px 115.2px;
}

div:nth-of-type(1) section:nth-of-type(3) article:nth-of-type(3) p {
    padding: 45px 120px 25vh 115.2px;
}

div:nth-of-type(1) section:nth-of-type(3) article:nth-of-type(4) p {
    padding: 45px 72px 270px 115.2px;
}

/* SECTION 4 */

div:nth-of-type(1) section:nth-of-type(4) {
    top: 210vh;
}

div:nth-of-type(1) section:nth-of-type(4) article {
    background-image: url('../img/post-it-orange.png');
}

div:nth-of-type(1) section:nth-of-type(4) article:nth-of-type(1) p {
    padding: 45px 150px 300px 115px;
}

div:nth-of-type(1) section:nth-of-type(4) article:nth-of-type(2) p {
    padding: 45px 150px 225px 115.2px;
}

div:nth-of-type(1) section:nth-of-type(4) article:nth-of-type(3) p {
    padding: 45px 50px 25vh 115.2px;
}

/* SHELL-BEFEHLE */

#slideInShell {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    color: white;
    font-size: 10rem;
    cursor: pointer;
}

#slideOutShell {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    color: white;
    font-size: 10rem;
    cursor: pointer;
}

#shellBefehle {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}


div:nth-of-type(2) section:nth-of-type(1) article {
    background-image: url('../img/post-it-blau.png');
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(1) {
    padding: 30px 144px 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(2) {
    padding: 0 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(2) span {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(1) {
    padding: 30px 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(2) {
    padding: 0 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(3) {
    padding: 0 130px 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(2) span,
div:nth-of-type(2) section:nth-of-type(1) article:nth-of-type(2) p:nth-of-type(3) span {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

/* SECTION 2 */

div:nth-of-type(2) section:nth-of-type(2) {
    top: 70vh;
}

div:nth-of-type(2) section:nth-of-type(2) article {
    background-image: url('../img/post-it-rosa.png');
}

div:nth-of-type(2) section:nth-of-type(2) article:nth-of-type(1) p:nth-of-type(1) {
    padding: 30px 144px 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(1) {
    padding: 30px 144px 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(2) article:nth-of-type(3) p:nth-of-type(1) {
    padding: 30px 100px 0 115.2px;
}

/* SECTION 3 */

div:nth-of-type(2) section:nth-of-type(3) {
    top: 140vh;
}

div:nth-of-type(2) section:nth-of-type(3) article {
    background-image: url('../img/post-it-yellow.png');
}

div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(1) p:nth-of-type(1) {
    padding: 30px 144px 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(2) p:nth-of-type(1) {
    padding: 30px 144px 0 115.2px;
}

/* SECTION 4 */

div:nth-of-type(2) section:nth-of-type(4) {
    top: 210vh;
}

div:nth-of-type(2) section:nth-of-type(4) article {
    background-image: url('../img/post-it-orange.png');
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(1) p:nth-of-type(1) {
    padding: 30px 144px 0 115.2px;
}


div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(2) p:nth-of-type(1) {
    padding: 30px 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(2) p:nth-of-type(2) {
    padding: 0 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(2) p:nth-of-type(2) span {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(3) p:nth-of-type(1) {
    padding: 30px 100px 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(4) p:nth-of-type(1) {
    padding: 30px 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(4) p:nth-of-type(2) {
    padding: 0 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(4) p:nth-of-type(2) span {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(4) p:nth-of-type(3) {
    padding: 0 0 0 115.2px;
}

div:nth-of-type(2) section:nth-of-type(4) article:nth-of-type(4) p:nth-of-type(3) span {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
}